/NexusCommerceApi/NexusCommerce.Api/obj
/NexusCommerceApi/NexusCommerce.Api/bin
/NexusCommerceApi/NexusCommerce.Application/bin
/NexusCommerceApi/NexusCommerce.Application/obj
/NexusCommerceApi/NexusCommerce.Domain/bin
/NexusCommerceApi/NexusCommerce.Domain/obj
/NexusCommerceApi/NexusCommerce.Infrastructure/obj
/NexusCommerceApi/NexusCommerce.Infrastructure/bin
/NexusCommerceApi/NexusCommerce.Shared/obj
/NexusCommerceApi/NexusCommerce.Shared/bin
